<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Controle do LED - ESP32</title>
</head>
<body>
    <h1>Controle de LED - ESP32</h1>

    <form action="/led_on" method="get">
        <button type="submit" style="padding: 10px 20px; font-size: 18px;">Ligar LED</button>
    </form>

    <form action="/led_off" method="get" style="margin-top: 20px;">
        <button type="submit" style="padding: 10px 20px; font-size: 18px;">Desligar LED</button>
    </form>
</body>
</html>
